{% extends 'blog/base.html' %} {% block content %}
<div class="post">
  {% if post.published_date %}
  {% endif %} {% if user.is_authenticated %}
  <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"
    >
    <span class="material-symbols-outlined">
      edit
      </span> Editar
  </a>
  {% endif %}
</div>

<div class="card mb-3">
  <img src="{{post.cover.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text">{{ post.text|linebreaksbr }}</p>
    <p class="card-text"><small class="text-muted">{{ post.published_date }}</small></p>
  </div>
</div>

{% endblock %}

